<ion-view view-title="Shop" class="shop-popular-view" class="has-header">
    <ion-header-bar>
        <h1 class="title modal-title">Cards</h1>
        <a class="button button-clear" ng-click="addCardDialog.hide()">Cancel</a>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="row shop-products-narrow-cards-outer">
            <div ng-repeat="card in cards" class="col col-50 shop-product-narrow-card" ng-click="addSelectedCard(card)">
                <div class="list card">
                    <div class="item item-image">
                        <pre-img ratio="_1_1" helper-class="main-image">
                            <img ng-src="img/cards/icons/{{card.icon}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <div class="item item-body">
                        <h2 class="card-title">{{card.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>