<ion-view view-title="Shop" class="shop-popular-view" class="has-header">
    <ion-header-bar>
        <h1 class="title modal-title">Pitches</h1>
        <a class="button button-clear" ng-click="backToOffice()">Cancel</a>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="item item-divider">
            Company Pitches
        </div>
        <div class="row shop-products-narrow-cards-outer">
            <div ng-repeat="pitch  in pitches" class="col col-50 shop-product-narrow-card" ng-click="selectPitch(pitch.id, pitch)">
                <div class="list card">
                    <div class="item item-image">
                        <pre-img ratio="_1_1" helper-class="main-image">
                            <img ng-src="img/cards/{{pitch.cards[2].bgImage}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <div class="item item-body">
                        <h2 class="card-title">{{pitch.name}}</h2>
                        <p>$175</p>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="item item-divider">
            My Pitches
        </div>
        <div class="row shop-products-narrow-cards-outer">
            <div ng-repeat="(id, pitch) in mypitches" class="col col-50 shop-product-narrow-card" ng-click="selectPitch(id, pitch)">
                <div class="list card">
                    <div class="item item-image">
                        <pre-img ratio="_1_1" helper-class="main-image">
                            <img ng-src="img/default-pitch-logo.png" spinner-on-load>
                        </pre-img>
                    </div>
                    <div class="item item-button-right">
                        <h2 class="card-title">{{pitch.name}}</h2>
                        <p>$375</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-divider">
            Community Pitches
        </div>
        <div class="row shop-products-narrow-cards-outer">
            <div class="col col-50 shop-product-narrow-card">
                <div class="list card">
                    <div class="item item-image">
                        <pre-img ratio="_1_1" helper-class="main-image">
                            <img ng-src="img/cards/ageloc.png" spinner-on-load>
                        </pre-img>
                    </div>
                    <div class="item item-button-right">
                        <h2 class="card-title">AgeLOC Me</h2>
                        <p>$675</p>
                        <p class="user-resume">
                            <b class="">345</b> Likes <i class="icon ion-thumbsup"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-50 shop-product-narrow-card">
                <div class="list card">
                    <div class="item item-image">
                        <pre-img ratio="_1_1" helper-class="main-image">
                            <img ng-src="img/cards/ops.png" spinner-on-load>
                        </pre-img>
                    </div>
                    <div class="item item-button-right">
                        <h2 class="card-title">Opps Knocks</h2>
                        <p>$375</p>
                        <p class="user-resume">
                            <b class="">45</b> Likes <i class="icon ion-thumbsup"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>-->


    </ion-content>
</ion-view>