<ion-view class="welcome-view" cache-view="false" hide-nav-bar="true">
    <ion-content scroll="false" hide-nav-bar="true" style="background-image: url({{ background }}); background-repeat: no-repeat;" class="has-header">
        <div class="top-content row">
            <div class="app-copy col col-center">
                <img ng-src="img/logo.jpg" style="width: 200px;padding-bottom: 150px; "/>
                <br/><br/>
                <p>One moment please ....</p>
            </div>
        </div>
    </ion-content>
</ion-view>